.scene, .a3d { display: grid }

.scene {
  overflow: hidden;
  perspective: 75em; /* Regresamos un poco de perspectiva para que forme el arco/puente (curvo) */
  mask: linear-gradient(90deg, #0000 0%, red 5% 95%, #0000 100%);
}

.a3d {
  --w: 16em; /* Cartas un poco más angostas para que quepan más en pantalla */
  --ba: calc(1turn / var(--n));
  --gap: 2em; /* Mantenemos una separación agradable */
  --r: calc((.5 * var(--w) + .5 * var(--gap)) / tan(.5 * var(--ba)));
  place-self: center;
  transform-style: preserve-3d;
  animation: ry 80s linear infinite; /* Animación mucho más lenta y suave */
  transform: translateZ(calc(-1 * var(--r))); /* Mueve el cilindro hacia atrás */
}

@keyframes ry {
  0% { transform: translateZ(calc(-1 * var(--r))) rotateY(0turn); }
  100% { transform: translateZ(calc(-1 * var(--r))) rotateY(1turn); }
}

.card {
  grid-area: 1 / 1;
  width: var(--w);
  aspect-ratio: 7 / 10;
  object-fit: cover;
  border-radius: 1.5em;
  backface-visibility: hidden;
  transform:
    rotateY(calc(var(--i) * var(--ba)))
    translateZ(var(--r)); /* Empuja las tarjetas hacia afuera (centro -> exterior) */
}

html, body { display: grid }
html { height: 100% }
body { background: #fff3ed }
